<script type="text/template" id="conveyor_straight">
	<div class="hmi-element {{if(!msieversion()||msieversion()>8){ }}borders{{ }else{ }}ie-element-border{{ } }}" tagname="{{=tagname}}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="background-color:lightgrey; position:absolute; width:{{=length*elementScale}}%; height:{{=beltWidth*elementScale}}%;">
		<div class="conveyor_straight_wall1"></div>
		<div class="conveyor_straight_wall2"></div>		
		<div class="conveyor_straight_wall3"></div>
		<div class="conveyor_straight_wall4"></div>
	</div>
</script>
<script type="text/template" id="conveyor_turn">
	<div class="hmi-element conveyor-turn{{if(!msieversion()||msieversion()>8){ }} borders{{ } }}" tagname="{{=tagname}}" top="{{=top+offsetTop}}" left="{{=left+offsetLeft}}" rotation="{{=rotation}}" style="background-color:lightgrey; position:absolute; height:{{=beltWidth*elementScale*2}}%;">
		<div class="{{if(msieversion()&&msieversion()<=8){ }}{{=rotation==0?'iebotleft':''}}{{=rotation==90?'ietopleft':''}}{{=rotation==180?'iebotright':''}}{{=rotation==270?'ietopright':''}}{{ }else{ }}conveyor_turn_wall{{ } }}"></div>
	</div>
</script>

<script type="text/template" id="alarm_legend_row">

	<div class="alarm-legend-row-wrapper">
		<div class="legend-color-box" style="background-color:#{{=background_color}};"></div>
		<div class="legend-color-text">{{=name}}</div>
	</div>
</script>

<script type="text/template" id="alarm-template">

    {{ var bordercolor = 'rgb(192,192,192)';}}
    <div class="row-fluid section-config-wrapper" tag_ID="{{= tag_ID}}" style="background-color:#{{=background_color}}; color:#{{=text_color}}; border-color:{{=bordercolor}};">
        <div class="span3">
            <label class="mobile-label"><%= i18n(req,'Date') %>:</label>
            <label class="mobile-element">{{= toLocaleDateTimeString(timestamp) }}
            </label>
        </div>
        <div class="span2">
            <label class="mobile-label"><%= i18n(req,'Equipment') %>:</label>
            <label class="mobile-element">{{= equipment }}
            </label>
        </div>
        <div class="span2">
            <label class="mobile-label"><%= i18n(req,'Device') %>:</label>
            <label class="mobile-element">{{= device }}
            </label>
        </div>
        <div class="span5">
            <label class="mobile-label"><%= i18n(req,'Alarm Type') %>:</label>
            <label class="mobile-element">{{= text }}
            </label>
        </div>
    </div>
</script>
    
  <!--  <div class="row-fluid" style="margin-top:19px;">
    <div class="span10 offset1 page-controls-wrapper">
        <div class="row-fluid" id="reportheader"><span style="padding-left:10px;">BHS Overview</span></div>
        <div class="row-fluid" id="iframediv">
            <div class="row-fluid">-->
<div class="row-fluid tc-lines-wrapper-div">            
    <div class="tc-lines-wrapper"> 
	    <div id="SS1-03" tagname="G_SS1_03_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-03"></div>
	    <div id="SS1-04" tagname="G_SS1_04_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-04"></div>
	    <div id="SS1-05" tagname="G_SS1_05_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-05" ></div>
	    <div id="SS1-06" tagname="G_SS1_06_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-06" ></div>
	    <div id="SS1-07" tagname="G_SS1_07_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-07" ></div>
	    <div id="SS1-08" tagname="G_SS1_08_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-08" ></div>
	    <div id="SS1-09" tagname="G_SS1_09_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-09" ></div>
	    <div id="SS1-10" tagname="G_SS1_10_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-10" ></div>
	    <div id="SS1-11" tagname="G_SS1_11_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-11" ></div>
	    <div id="SS1-12" tagname="G_SS1_12_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-12" ></div>
	    <div id="SS1-13" tagname="G_SS1_13_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-13" ></div>
	    <div id="SS1-14" tagname="G_SS1_14_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS1-14" ></div>
	    <div id="EDS-SS1" class="gwd-canvas-EDS-SS1 eds-machine" ></div>
	    <div id="SS1-03-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-03-text">03</div>
	    <div id="SS1-04-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-04-text">04</div>
	    <div id="SS1-05-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-05-text">05</div>
	    <div id="SS1-06-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-06-text">06</div>
	    <div id="SS1-07-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-07-text">07</div>
	    <div id="SS1-08-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-08-text">08</div>
	    <div id="SS1-09-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-09-text">09</div>
	    <div id="EDS-SS1-text" class="conveyor-text gwd-div-text-general gwd-div-EDS-SS1-text">EDS-SS1</div>
	    <div id="SS1-10-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-10-text">10</div>
	    <div id="SS1-11-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-11-text">11</div>
	    <div id="SS1-12-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-12-text">12</div>
	    <div id="SS1-13-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-13-text">13</div>
	    <div id="SS1-14-text" class="conveyor-text gwd-div-text-general gwd-div-SS1-14-text">14</div>
	    <div id="SS2-03" tagname="G_SS2_03_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-03"></div>
	    <div id="SS2-04" tagname="G_SS2_04_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-04" ></div>
	    <div id="SS2-05" tagname="G_SS2_05_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-05" ></div>
	    <div id="SS2-06" tagname="G_SS2_06_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-06" ></div>
	    <div id="SS2-07" tagname="G_SS2_07_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-07" ></div>
	    <div id="SS2-08" tagname="G_SS2_08_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-08" ></div>
	    <div id="SS2-09" tagname="G_SS2_09_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-09" ></div>
	    <div id="SS2-10" tagname="G_SS2_10_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-10" ></div>
	    <div id="SS2-11" tagname="G_SS2_11_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-11" ></div>
	    <div id="SS2-12" tagname="G_SS2_12_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-12" ></div>
	    <div id="SS2-13" tagname="G_SS2_13_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-13" ></div>
	    <div id="SS2-14" tagname="G_SS2_14_STATUS" class="gwd-canvas-conveyor gwd-canvas-SS2-14" ></div>
	    <div id="EDS-SS2" class="gwd-canvas-EDS-SS2 eds-machine"></div>
	    <div id="SS2-03-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-03-text">03</div>
	    <div id="SS2-04-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-04-text">04</div>
	    <div id="SS2-05-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-05-text">05</div>
	    <div id="SS2-06-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-06-text">06</div>
	    <div id="SS2-07-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-07-text">07</div>
	    <div id="SS2-08-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-08-text">08</div>
	    <div id="SS2-09-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-09-text">09</div>
	    <div id="EDS-SS2-text" class="conveyor-text gwd-div-text-general gwd-div-EDS-SS2-text">EDS-SS2</div>
	    <div id="SS2-10-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-10-text">10</div>
	    <div id="SS2-11-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-11-text">11</div>
	    <div id="SS2-12-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-12-text">12</div>
	    <div id="SS2-13-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-13-text">13</div>
	    <div id="SS2-14-text" class="conveyor-text gwd-div-text-general gwd-div-SS2-14-text">14</div>
    </div>
</div>            
            
<!--            </div>
        </div>
    </div>
</div>
    -->
    
    
    
    <script>
    $(function(){
    	//alert('ready');
    	
    	socket.get('/overview/joinroom');
    	socket.on('overview',function(message){
    		$('div[tagname]').unbind();
    		
    		$.each(message,function(key,message){
    			setBackground($('div[tagname='+message.tag_name+']'),'#'+message.color_code);
    			if(message.is_flashing==1){
	    			setTimeout(function(){
	    				setBackground($('div[tagname='+message.tag_name+']'),'#'+message.flash_color_code);
	    			},500);
    			}
    			
    			/*if(message.value=='on'){
    				setBackground($('#'+message.id),'#ff4400');
    			}else if(message.value=='off'){
    				setBackground($('#'+message.id),'#22ee11');
    			
    			}*/
    		});
    	});
    	
    	
    	
    	function setBackground($element,color){
    		$element.css('background-color',color);
    	
    	}
    });
    
    
    </script>
    