.clockblock{
    color: gray;
    float: left;
    width: 3.33333333333%;
    overflow: hidden;
    height: 58px;
}

#ganttwrapper{
    position:relative;
}

.current-time-line{
    border-left:2px dashed rgb(15,117,188);
    position: absolute;
    top: 0px;
}

.static-virt-dest{
    line-height: 30px;
}

.flight_number_create{
    width:120px !important;
}
.current-time-block{
    position: absolute;
    top: -34px;
    margin-left:-20px;
}

.time-spot{
    text-align: center;

    font-weight: 600;
    color: black;
}

.icon-spot{
    top: 18px;

    position: absolute;
    left: 15px;
    color: rgb(15,117,188);
}

.search-gant-wrapper{
    margin-left:2% !important;
    margin-bottom: 14px;
    width:200px !important;
}

.del_flight{
    margin-right:20px;
}

#timepickerlabel{
    line-height:30px;
}

.btn-add-flight-gantt{
    float:right;
    margin-right: 10px;
}

.btn-create-flight-gantt{
    float:right;
    margin-right: 10px;
}

#searchgantt{
    width: 125px;
}
#gantttimescale{
    border:1px solid gray;
    background-color: #F1F1F2;
}

.gantt-outer-wrapper{
    width:96% !important;
    margin: 0% 2% !important;
}
#gantttimescale{
    height:59px;
}
.timeblock{
    height: 11px;
    width: 60px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
    border-top: 1px solid gray;
    margin-top: 21px;
    margin-left: -25px;
    padding-left: 2px;
    color: #666;
    font-weight: 500;
}

.clockblock:first-child .timeblock{
    border-top:none;
}

.gantblock{
    height: 11px;
    width: 36px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
    border-top: 1px solid #E9E9E9;
    margin-top: 9px;
    margin-left: -13px;
    padding-left: 2px;
}

a.progress.ganntbar{
    cursor:pointer;
}

#ganttrows .ganttpostrow{
	height: 35px;
	position: relative;
	border-left: 1px solid gray;
	border-bottom: 1px solid #E9E9E9;
	width: 6%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


#ganttrows .ganttrow{
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid #E9E9E9;
	height: 35px;
	position: relative;
	float: left;
	margin-left: 0px;
	width: 88%;

}

#gantttimescale{
	width: 88%;
	float: right;
}

#postgantttimescale{
	width:12%;
	margin: 0px;
	height: 59px;
	position:relative;
}

.preclockblock{
	width: 50%;
	height: 60px;
	/* border-left: 1px solid gray; */
	margin-bottom: -25px;
	padding-bottom: 2px;
	color: #666;
	font-weight: 500;
	float: left;
}

.pretimeblock{
	height: 57px;
	background: #F0F0F0;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
}

.bottom-buttons-popover{
    margin-top:20px;
}

.ganttrow:last-child{
    border-bottom: 1px solid gray;
}

.ganttrow .clockblock{
    height:35px;
}

.ganntbar{
    position: absolute;
}

.ganntbar .bar-right{
    float:right;
}

.popoverlabel{
    line-height:30px;
}

#gantttimescale .clockblock{
}

.bootstrap-datetimepicker-widget > div > div.close-datetime{
    padding-right: 4px;

    padding-left: 4px;
}

.bootstrap-datetimepicker-widget.hide-before:before{
    display:none;
}
.bootstrap-datetimepicker-widget.hide-before:after{
    display:none;
}

.airline-config-titles{
    width: 92%;
    margin-left: 4%;
}

@media (max-width:767px){
    #timepickerlabel{
        margin-left:20px;
    }
    .input-datepicker-smallpad{
        padding-left:20px;
    }
    .bootstrap-datetimepicker-widget.hide-before:before{
        display:none;
    }
    .bootstrap-datetimepicker-widget.hide-before:after{
        display:none;
    }
    #editmap_preview_wrapper{
		text-align: center;
		margin: auto;
		margin-top: 12px;
    }
}


#editmap_preview_wrapper{
	/* min-height:240px; */	
margin: 2px;
margin-top: 10px;
margin-left: 10px;
}


.edit_flight_origin_datepicker{
}

.flight-wrapper.is_deleted{
	display:none;
}


.flight-wrapper:{
	border: 1px solid #C9C9C9;
	background: #FCFCFC;

}



input.flex-input{
	max-width:100%;
}


.datepicker-wrapper-padder{
	padding-right:45px;
}


.combobox-isn-wrapper{
	position:relative;
}



#edit_flight_body{
	overflow-x: hidden;
}

.datatable-hidden{
	display:none;
}

.flight-seats-hidden{
	display:none;
}

.company-seats-row.is_deleted{
	display:none;
}

#flightModal{
	/*z-index:10000;*/
}

.segment-label-left-small,
.segment-label-left {
	display: inline-block;
	text-align: left;

	font-weight:600;
	color: black;
}

.segment-label-left {
	line-height: 28px;
	font-size: 16px;
}

.segment-label-left-small {
	line-height: 16px;
	font-size: 12px;
}

.segment-label-right-small,
.segment-label-right {
	text-align: right !important;
	line-height: 28px;
	font-weight:600 !important;
	color: black !important;
}

.segment-label-right {
	font-size: 16px;
}
.segment-label-right-small{
	font-size: 12px;
}

.report-control-left-label{
	padding-left: 10px;
	font-size: 16px;
	font-weight:600 !important;
	line-height: 28px;
}

.section-header-small,
.section-header-large,
.section-header{
	padding-left: 10px;
	font-weight:600 !important;
	line-height: 28px;
    color: #717171 !important;
}
.section-header-large{
	padding-top: 5px;
	font-size:20px;
}
.section-header-small{
	font-size:14px;
}
.section-header{
	font-size:16px;
}

.flight-leg-header-large,
.flight-leg-header{
	color: #717171 !important;
	margin-left : 30px;	
}

.flight-leg-header{
	font-weight:600 !important;
	font-size:24px;
	margin-left:20px !important;
	margin-bottom:5px !important;
}

.flight-leg-header-large{
	font-weight:600 !important;
	font-size:900% !important;	
	margin-top: 60px;
}

.flight-header {
    margin-top: 0px;
    line-height: 30px;
    padding-left: 0px;
    border-bottom: 1px solid rgb(185, 185, 185);
    border-radius: 7px 7px 0px 0px;
    background: linear-gradient(to bottom, #FFF 0%, #F2F2F2 100%) repeat scroll 0% 0% transparent;
    padding-top: 6px;
    padding-bottom: 6px;

}


.flight-leg-divider {
    line-height: 30px;
    margin-right:5px;
    margin-left:5px;
    border: 1px solid rgb(185, 185, 185);
    background: linear-gradient(to bottom, #FFF 0%, #F2F2F2 100%) repeat scroll 0% 0% transparent;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    color: #006DCC !important;
}

.flight-leg-details {
    margin-top:10px;
    border-left: 1px solid rgb(185, 185, 185);
	padding-left: 10px;
}

#flight_selector_details_wrapper{
	margin-right:10px !important;
}

.flight-tab{
	margin-left:10px;
	margin-right:10px;
	border: 1px solid rgb(185, 185, 185);
}

.button-spacing{
	margin-top:5px;
	margin-bottom:10px;
	margin-right:10px;
}

.delete_flight_leg{
		margin-right:10px;
}

.leg-map{
	margin-left:10px !important;
	margin-top:10px;
	margin-bottom:10px;
}

.report-control-right-label{
	float: right;
	display: inline-block;
	text-align: right;
	font-size: 16px;
	line-height: 28px;
	font-weight:600;
	color: black;
	
}

.flight-leg-title{
	display: inline-block;
	color: black;
	font-size:18px;
	line-height: 28px;
	font-weight:600;
	margin-bottom: 5px;
}

.flight-details-frame{
	padding-bottom: 0px !important;
	padding-top: 0px !important;
	min-height: 183px;
	margin-bottom: 6px !important;
}

.flight-details-frame > div{
	padding:1%;
	width:98%;
}

.flight-details-frame .segment-value{
	display: inline-block;
	color: black;
	font-size:16px;
	line-height: 28px;
	font-weight:600;
}
.flight-details-frame .segment-value-green{
	display: inline-block;
	color: #5BB75B;
	font-size:20px;
	line-height: 28px;
	font-weight:600;
}
.flight-details-frame .segment-value > span.large-value{
	display: block;
	text-align: right;
	font-size:42px;
	font-weight:600;
}

.flight-details-frame .segment-value > i{
	font-size:24px;
	margin-bottom:2px;
}

.bag-weight,
.pax-weight{
	width:80px;
}

.baggage-pieces{
	width:40px;
}

table.fms-table td{
	text-align:center;
}

table.fms-table td:first-child{
	text-align:left;
	font-weight:bold;
}

table.fms-table th:first-child{
	text-align:left;
}

#leg_combobox{
	margin-bottom:0px;
	margin-left:5px;
}

table.fms-table tbody tr.boarded{
	background: rgb(173, 224, 173) !important;
}

input.pax-weight{
	margin-top:3px;
	margin-bottom:4px;
}

.tabbable ul.nav-tabs{
	border-bottom:none;
}



.ganttrow .gantt-plane{
	position:absolute;
	top:16px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    color:black;
    font-size:20px;
	margin-left: -8px;
}


#ganttrows .ganntbar.past div{
	background: #adadad; /* Old browsers */
	background: -moz-linear-gradient(top,  #adadad 0%, #636363 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adadad), color-stop(100%,#636363)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #adadad 0%,#636363 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #adadad 0%,#636363 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #adadad 0%,#636363 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #adadad 0%,#636363 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#636363',GradientType=0 ); /* IE6-9 */
}

#ganttrows .ganntbar.present div{
	
}


#ganttrows .ganntbar.future div{
	background: #adadad; /* Old browsers */
	background: -moz-linear-gradient(top,  #adadad 0%, #636363 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#adadad), color-stop(100%,#636363)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #adadad 0%,#636363 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #adadad 0%,#636363 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #adadad 0%,#636363 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #adadad 0%,#636363 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adadad', endColorstr='#636363',GradientType=0 ); /* IE6-9 */
}