.borders .conveyor_straight_wall1{
	position: absolute;
	top:0%;
	width: 100%;
	background: grey;
	height: 2px;
}

.borders .conveyor_straight_wall2{
	position: absolute;
	bottom:0%;
	width: 100%;
	background: grey;
	height: 2px;
}

.borders .conveyor_straight_wall3{
	position: absolute;
	left:0%;
	height: 100%;
	background: grey;
	width: 2px;
}

.borders .conveyor_straight_wall4{
	position: absolute;
	right:0%;
	height: 100%;
	background: grey;
	width: 2px;
}

.ie-element-border{
	border:2px solid grey;
}

.conveyor-turn{
}

.conveyor-turn.borders{
	border-radius: 0px 100% 0px 0px;
	border-top: 2px solid grey;
	border-right: 2px solid grey;
}

.conveyor_turn_wall{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 50%;
	height: 50%;
	background: white;
	border-radius: 0px 100% 0px 0px;
	border-top: 2px solid grey;
	border-right: 2px solid grey;
}

.iebotleft{
	position: absolute;
	left:0px;
	bottom:0px;
	width: 50%;
	height: 50%;
	background: white;
}


.ietopleft{
	position: absolute;
	top:0px;
	left:0px;
	width: 50%;
	height: 50%;
	background: white;
}

.iebotright{
	position: absolute;
	right:0px;
	bottom:0px;
	width: 50%;
	height: 50%;
	background: white;
}


.ietopright{
	position: absolute;
	top:0px;
	right:0px;
	width: 50%;
	height: 50%;
	background: white;
}

.legend-color-box{
	width:16px;
	height:16px;
	display: inline-block;
}

.legend-color-text{
	
	display: inline-block;
}

.alarm-legend{ 
	position: absolute;
	right: 0px;
	width: 247px;
	bottom: 0px;
	border: 1px solid grey;
	padding: 2px;
	margin-right: 5px;
	background: white;
}

