.conveyor_straight_wall1{
	position: absolute;
	top:0%;
	width: 100%;
	background: grey;
	height: 12%;
}

.conveyor_straight_wall2{
	position: absolute;
	bottom:0%;
	width: 100%;
	background: grey;
	height: 12%;
}


.conveyor-turn{
	
}
