@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-light-webfont.eot');
    src: url('fonts/opensans-light-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-light-webfont.woff') format('woff'),
    url('fonts/opensans-light-webfont.ttf') format('truetype'),
    url('fonts/opensans-light-webfont.svg#opensans-light-webfont') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-regular-webfont.woff') format('woff'),
    url('fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('fonts/opensans-regular-webfont.svg#opensans-regular-webfont') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-semibold-webfont.eot');
    src: url('fonts/opensans-semibold-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-semibold-webfont.woff') format('woff'),
    url('fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('fonts/opensans-semibold-webfont.svg#OpenSans-Semibold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-bold-webfont.eot');
    src: url('fonts/opensans-bold-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-bold-webfont.woff') format('woff'),
    url('fonts/opensans-bold-webfont.ttf') format('truetype'),
    url('fonts/opensans-bold-webfont.svg#opensans-bold-webfont') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/opensans-extrabold-webfont.eot');
    src: url('fonts/opensans-extrabold-webfont.eot?iefix') format('eot'),
    url('fonts/opensans-extrabold-webfont.woff') format('woff'),
    url('fonts/opensans-extrabold-webfont.ttf') format('truetype'),
    url('fonts/opensans-extrabold-webfont.svg#opensans-extrabold-webfont') format('svg');
    font-weight: 700;
    font-style: normal;
}


body{
    font-family: OpenSans;
    -webkit-font-smoothing:antialiased;
}



.main-content {
    position: relative;
    padding-left: 200px;
}

@media (max-width: 979px){
    .main-content {
        margin: 0;
        padding-left:0px;
    }
}

body {
    /* padding-top: 60px;  60px to make the container go all the way to the bottom of the topbar */
    height:100%;
}
div.primary-sidebar > ul.nav > li > a > i{
    line-height: 11px;
    position: absolute;
    top: 12px;
    left: 22px;
}

.input-append > .add-on{
    cursor:pointer;
}


table.dataTable > thead > tr > td {
    cursor: pointer;
}

table.dataTable > thead > tr > td > i{
    display: none;
    /*float: right;*/
    padding-left: 10px;
}

table.dataTable > thead > tr > td[aria-sort=descending] i.icon-caret-down {
    display: inline-block;
}

table.dataTable > thead > tr > td[aria-sort=ascending] i.icon-caret-up {
    display: inline-block;
}
table.dataTable > thead > tr > td:focus{
    outline: none;/*-webkit-focus-ring-color auto 5px;*/
}


table.dataTable > thead > tr > th {
    cursor: pointer;
}

table.dataTable > thead > tr > th > i{
    display: none;
    /*float: right;*/
    padding-left: 10px;
}

table.dataTable > thead > tr > th[aria-sort=descending] i.icon-caret-down {
    display: inline-block;
}

table.dataTable > thead > tr > th[aria-sort=ascending] i.icon-caret-up {
    display: inline-block;
}
table.dataTable > thead > tr > th:focus{
    outline: none;/*-webkit-focus-ring-color auto 5px;*/
}

table.dataTable > tbody > tr.selected{
    background: #0F74BC;/*-webkit-focus-ring-color auto 5px;*/
   color:white;
}

.table-row-selected{
    background: #0F74BC;/*-webkit-focus-ring-color auto 5px;*/
   color:white;
}
.generic-table-styling{
	line-height: 30px;
	font-weight: bold;
	cursor:pointer;
}
table.dataTable > tbody > tr{
    cursor:pointer;
}


.content-wrapper{
	margin-top: 10px;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}

.row-category{
	background:#E8E8EA;
	line-height:32px;
	padding-left: 12px;
	margin-top:12px;
	margin-bottom:20px;
}

.row-category-button-wrapper{
	padding-left: 20px;
	background: white;
	padding-top: 10px;
	padding-bottom:10px;
}

.building-segment-wrapper .segment-label{
	text-align:right;
	line-height: 28px;
	font-weight: bold;
}

.building-contact-wrapper .segment-label{
	text-align:right;
	line-height: 28px;
	font-weight: bold;
}
.building-contact-wrapper:first-child{
	border-top: none;
	margin-top: 0px;
	padding-top: 0px;
}
.building-contact-wrapper{
	border-top: 1px solid #696969;
	margin-top: 16px;
	padding-top: 6px;
}
.building-contact-wrapper .segment-label-value{
	line-height: 30px;
}

.building-contact-delete{
	opacity:0.4;
}

input.segment-form-radio{
	margin-top:0px;
	margin-bottom:2px;
}
.buildingimage{
	border: 1px solid #D0D4D5;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}


#map_wrapper img{
	max-width: none;
}

.building-photo-wrapper > .buildingimage{
	margin-left:0px;
	margin-right: 1.8%;
	margin-bottom: 12px;
}

#search_toggler .search-toggler-arrow{
	text-align:center;
	cursor:pointer;
	color:white;
	padding-top: 3px;
}

#search_toggler .scroll-icon{
	color: white;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-left: 6px;
	padding-top: 3px;
}

#search_toggler[scrollstate=top] .arrow-up{
	display:none;
}
#search_toggler[scrollstate=bottom] .arrow-down{
	display:none;
}

#search_toggler{
	height:50px;
	background:#333333;
}

.building-map-details{
	
	background: white;
	border-top: 1px solid rgb(156, 156, 156);
}

.building-overlay-block-picture{
	
	border: 1px solid rgb(156, 156, 156);
	width:auto !important;
}

.building-overlay-block-details{
}

.building-overlay-block-details .block-value{
	font-weight:600;
	color:black;
}

.building-overlay-block-address{
	/*font-weight:600;
	color:#828282;*/
}

.building-overlay-block-address .block-value{
	font-weight:600;
	color:black;
}


.building-details-padder{
	padding:5px;
}

.row-fluid .building-overlay-block-address{
	margin-top: 6px;
}


.buildingimagetrash{
	position: absolute;
	top: 0px;
	right: 0px;
	background: white;
	color: red;
	border-radius: 0px 0px 0px 4px;
	padding-left: 8px;
	padding-bottom: 7px;
	cursor: pointer;
}

#UploadGif{
    width: 100%;
    margin-top: 50px;
}

.UploadGif_block{
    margin-bottom: 8%;
    background-color:#91A8D6;
    border:5px solid #025299;
    float:left;
    height:100px;
    margin-left: 8%;
    width: 15%;
    opacity:0.1;
    -moz-animation-name:bounceG;
    -moz-animation-duration:1.8s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:1.8s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:1.8s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:1.8s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:1.8s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.7);
}

#blockG_1{
    -moz-animation-delay:0.54s;
    -webkit-animation-delay:0.54s;
    -ms-animation-delay:0.54s;
    -o-animation-delay:0.54s;
    animation-delay:0.54s;
}

#blockG_2{
    -moz-animation-delay:0.72s;
    -webkit-animation-delay:0.72s;
    -ms-animation-delay:0.72s;
    -o-animation-delay:0.72s;
    animation-delay:0.72s;
}

#blockG_3{
    -moz-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -o-animation-delay:0.9s;
    animation-delay:0.9s;
}

@-moz-keyframes bounceG{
    0%{
        -moz-transform:scale(1.2);
        opacity:1}

    100%{
        -moz-transform:scale(0.7);
        opacity:0.1}

}

@-webkit-keyframes bounceG{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1}

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1}

}

@-ms-keyframes bounceG{
    0%{
        -ms-transform:scale(1.2);
        opacity:1}

    100%{
        -ms-transform:scale(0.7);
        opacity:0.1}

}

@-o-keyframes bounceG{
    0%{
        -o-transform:scale(1.2);
        opacity:1}

    100%{
        -o-transform:scale(0.7);
        opacity:0.1}

}

@keyframes bounceG{
    0%{
        transform:scale(1.2);
        opacity:1}

    100%{
        transform:scale(0.7);
        opacity:0.1}

}

#companies_wrapper{
	width:96%;
	margin-left:2%;
	margin-right:2%;
	margin-bottom: 12px;
}
#companies_wrapper  table.dataTable > thead > tr > th{
	font-weight:normal;
}

#companies_wrapper .dataTables_scrollHead table.dataTable > thead > tr {
	border-bottom: 1px solid #828282;
	line-height: 30px;
	text-align: left;
}

#companies_wrapper > table.dataTable > thead > tr {
	border-bottom: 1px solid #828282;
	line-height: 30px;
	text-align: left;
}

#companies_wrapper  table.dataTable > tfoot > td {
	font-weight:normal;
}


#contacts_wrapper{
	width:96%;
	margin-left:2%;
	margin-right:2%;
	margin-bottom: 12px;
}
#contacts_wrapper  table.dataTable > thead > tr > th{
	font-weight:normal;
}

#contacts_wrapper .dataTables_scrollHead table.dataTable > thead > tr {
	border-bottom: 1px solid #828282;
	line-height: 30px;
	text-align: left;
}

#contacts_wrapper > table.dataTable > thead > tr {
	border-bottom: 1px solid #828282;
	line-height: 30px;
	text-align: left;
}

#contacts_wrapper  table.dataTable > tfoot > td {
	font-weight:normal;
}




#buildings_wrapper{
	width:96%;
	margin-left:2%;
	margin-right:2%;
	margin-bottom: 12px;
}
#buildings_wrapper  table.dataTable > thead > tr > th{
	font-weight:normal;
}

#buildings_wrapper .dataTables_scrollHead table.dataTable > thead > tr {
	border-bottom: 1px solid #828282;
	line-height: 30px;
	text-align: left;
}

#buildings_wrapper > table.dataTable > thead > tr {
	border-bottom: 1px solid #828282;
	line-height: 30px;
	text-align: left;
}

div.tableheader{
	border-bottom: 1px solid #828282;
	line-height: 30px;
}

#buildings_wrapper  table.dataTable > tfoot > td {
	font-weight:normal;
}

.note-textarea-editable{
	width:50%;
}
.main-search{
    line-height: 15px !important;

    height: 16px !important;
    margin-top: 6px;
    margin-bottom: 6px !important;
    border-radius: 9px !important;
    background-color: rgb(44, 47, 51) !important;
    color: rgb(255, 255, 255) !important;
    border-color: rgb(97, 97, 97) !important;
}

.top-search-icon{
    margin-left: -20px;
    color: rgb(162, 162, 162);
}
a.isys-a{
    margin-top: 2px;
    padding: 3px 0px 0px 25px !important;
    font-size: 14px !important;
    line-height: 14px;
    width: 215px;
    padding-top: 42px;
    height:37px !important;
}
a.isys-a.small{
    display:none;
}
@media (max-width:979px){
    a.isys-a.small{
        display:block;
    }
    a.isys-a.large{
        display:none;
    }
}

.top-isys-logo{
    height:36px;
}

.webportal-top-text{
    margin-top: 4px;

}

.top-location-text{

}

.popover[sort_plan_id=myaccount]{
    top: 31px !important;
    left: -57px !important;
    display: block;
    width: 185px;
    border-radius: 0px 0px 0px 6px;
    width: 185px;
}

.top-message-a{
    padding-top: 14px !important;
    padding-bottom: 5px !important;
}

.myaccount-popover-username{
    font-weight: 600;
    text-align: center;
    display: none;
}
#adminusers div[userid]{
    line-height: 36px;
}

#save_virt_2_phys{
}

#adminusers{
    width:90%;
    margin-left:5%;
}

.adminusersheader{
    width:90%;
    margin-left:5%;
}

.adminusersheader .rowflu{
    font-weight: 600;
}

#adminusers div[userid].odd{
    border: 1px solid #E2E2E2;
    background-color: rgb(246, 247, 250);
}

#adminusers div[userid].even{
    margin-left: 1px;
}


.virtual-to-physical-table-headers{
    width: 92%;
    margin-left: 4%;
}


#adminusers > div.user-delete{
    /* border-color: #990000 !important; */
    /* background-color:#C2AEAE !important; */
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#companies-div > div.user-delete{
    /* border-color: #990000 !important; */
    /* background-color:#C2AEAE !important; */
    opacity: 0.4;
    filter: alpha(opacity=40);
}


#adminusers .btn{
	line-height: 20px;
	margin-top: 3px;
	margin-right: 4px;
}

#adminusers div[userid] > div > span.mobilelabel{
    display: none;
}

div.language-flag{
    height: 32px;
    width:32px;
}

div.language-flag.english{
    background-image: url('/img/flags/flat/32/United-States.png');
}

div.language-flag.chile{
    background-image: url('/img/flags/flat/32/Chile.png');
}

.top-flag-span{
    display:none;
}

.language-a{
    padding-top:5px !important;
    padding-right: 5px !important;
}



.deleteadminuser{
    line-height: 20px;
    margin-top: 3px;
    margin-right: 4px;
}

.change-password{
    /* line-height: 22px; */
    margin-top: 3px;
}

.myaccount-topmenu{
    width: 130px;
}

.datetimepicker-gen input{
    width: 180px;
}

.operation-start-datetimepicker-gen input{
    width: 180px;
}

#changeModal label.change-label{
    float: left;

    line-height: 30px;
    min-width: 160px;
}

#changeModal input.change-input{
    float: left;

}

#changepasswordModal label.change-label{
    float: left;

    line-height: 30px;
    min-width: 160px;
}

#changepasswordModal input.change-input{
    float: left;

}


#addUserModal label.change-label{
    float: left;

    line-height: 30px;
    min-width: 160px;
}

#addUserModal input.change-input{
    float: left;

}


#changeModal div.error-message{
    color:#990000;
}

#addUserModal div.error-message{
    color:#990000;
}

.admin-users-checkbox{
}

.securityselect{
    max-width: 150px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: -2px;
}

.security-select-new{
    margin-top: 0px;
    height: 30px;
    width: 220px;
    max-width: none;
}


.map-overlay-controls{
	background-color:rgba(255,255,255,.7);
	border:1px solid #696969;
	width:140px;
	height:195px;
	font-family:"OpenSans";
}

.map-control-row-wrapper{
	
}

.map-overlay-results-label{
	font-size:11px;
	font-weight:600;
	margin-bottom:0px;
}
.map-overlay-title-label{
	text-align:center;
	font-weight:600;
}

.map-overlay-label{
	cursor:pointer;
	float:left;
	width:112px;
	margin-left:10px;
}

.map-overlay-checkbox{
	float:left;
	margin-left:4px !important;
}

.map-control-row-wrapper #building_length_select{
	width: 132px;
	margin-left: 4px;
}



@media (min-width: 980px){
    body {
        /* padding-top: 41px; 60px to make the container go all the way to the bottom of the topbar */
    }
    .top-messages-span{
        display:none;
    }
    .top-messages-icon{
        display:block;
        line-height:10px !important;
    }

    .navbar-inner{
        height:41px !important;
    }

    #myaccountmobile li{
        visibility:hidden;
    }

	#myaccountmobile{
		display:none;	
	}
    .main-content-padder{
        height:41px;
    }

    .main-content{
        overflow-y: auto;
        top: 42px;
    }

    body{
        height:100%;
        overflow-y:hidden;
    }
    html{
        height:100%;
    }
}


.badge-div{
    position: absolute;
    left: 30px;
    top: 20px;
}
@media (max-width: 979px){

    .popover[sort_plan_id=myaccount]{
        display:none !important;
    }
    .top-messages-span{
        display: block;
        margin-left: 0px;
        font-weight: bold;
        color: #777;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        float: none;
    }

    li.active > a > div.top-messages-span{
        color:white;
    }
    .top-messages-icon{
        display:none !important;
    }

    .badge-div{
        /*display:none !important;*/
        left: 95px;
        top: 14px;
    }


    .top-flag-span{
        display: block;
        margin-left: 0px;
        font-weight: bold;
        color: #777;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        float: none;
    }

    div.language-flag{
        display:none;
    }

    .language-a{
        padding-top:15px !important;
    }

    #users-toggler{
        display:none;
    }
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
        padding-top: 8px !important;
    }

    .nav-collapse-topbar ul{
        margin-bottom: 0px !important;
    }

    #myaccountmobile li{
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 20px;
    }
    #myaccountmobile{
        margin-left: 0px;
    }

    #myaccountmobile li a{
        color: #999 !important;
    }

    #myaccountmobile > li:hover {
        background-color: #111;
    }

    .myaccount-topmenu{
        width: 100%;
    }

}

@media (max-width: 767px){
	
	.row-fluid .building-overlay-block-picture{
		width:auto;
		float:left;
		margin-right: 8px;
	}
	
	.row-fluid .building-overlay-block-address{
		/*border: 1px solid #AAAAAA;*/
		padding-left: 4px;
	}
	
	.row-fluid .building-overlay-block-details{
		/*border: 1px solid #AAAAAA;*/
		padding-left: 4px;
		margin-top: 6px;
		padding-right: 4px;
	}
	
	.building-segment-wrapper .segment-label{
		text-align:left;
	}
	.building-contact-wrapper .segment-label{
		text-align:left;
	}

    .adminusersheader{
        display:none;
    }

    .admin-users-checkbox{
        text-align: left;
    }

    #adminusers div[userid]{
        border: 1px solid #BBBDBE;
        background-color: rgb(246, 247, 250);
        margin-bottom: 20px;
    }
    #adminusers div[userid] > div > span.mobilelabel{
        display: inline;
        width: 150px;
        float: left;
        margin-left: 10px;
    }
    #adminusers div[userid] > div > div.deleteadminuser{
        float: right;
        margin: 10px;
    }

    #adminusers div[userid] > div.user-delete-span{
        float: left;
        width:auto;
    }

    #adminusers div[userid] > div > div.change-password{
        float:left ;
        margin: 10px;
    }
	
	#adminusers div[userid] > div > div.toggle-active{
        float:left ;
        margin: 10px;
    }

    #adminusers div[userid] > div.user-changepassword-span{
        float:left;
        /* width:auto; */
    }

}

