#messagesListWrapper > #messageslistsection  .unread{
    /*background-color:#6dddb4;
    color:white;*/

    background: #6B85B5;
    color: #FFF;
}

#newMessageButton{
    border: 1px solid #808080;
    background: #F3F3F4;
    margin-bottom:10px;
    text-align: center;
    padding: 8px;
    color: black;
    cursor: pointer;
}

.type-names-combo{
}

#messagesListWrapper > #messageslistsection  li.unread .messagelistboxwrapper{
    /*border-color:#6dddb4;*/

    background: #6B85B5;
    color: #FFF;
}

.messageslistheader {
    padding-left: 20px !important;
    color: #676767;
}

.messagefullbox{
    color: #5a6573;
}

.messages-right{
    border: 1px solid #e8e8e8;
}

.messagefull-load-previous{
    font-size:12px;
}

#messagesListWrapper > #messageslistsection > li{
    list-style:none;
    border: 1px solid gray;
    border-top: none;
    background: rgb(243,243,244);
    min-height: 42px;
}

#messagesListWrapper > #messageslistsection  > li:first-child{
    border-top: 1px solid gray;

}

#messagesListWrapper {
    border: 1px solid #e8e8e8;
}

.messagelistname{
    font-weight: 600;
    color: #000;
}
.messagefullname {
    font-weight: 600;
    color: #000;
}

.messagelistdate{
    font-size: 10px;
}


.messagefulltopwrapper{
    height: 22px;
}
.messagelisttopwrapper{
    height: 22px;
}

.messagefullboxwrapper{
    line-height: 22px;
    margin: 0px 10px 1px 10px;
    border-bottom: 1px solid #e8e8e8;
}
#messagesFullWrapper li:last-child a.messagefullbox div.messagefullboxwrapper{
    border-bottom: none;
}

.messagelistboxwrapper{
    line-height: 22px;
    margin: 0px 10px 1px 10px;
}

#messagesListWrapper > #messageslistsection  li:last-child a.messagelistbox div.messagelistboxwrapper{
    border-bottom: none;
}
#messagesListWrapper > #messageslistsection  li .messagelistboxwrapper{
    color:#666666;
    position: relative;
}

#messagesListWrapper > #messageslistsection  li.selected{
    background: #6B85B5;
}

#messagesListWrapper > #messageslistsection  li.selected .messagelistboxwrapper{

    background: #6B85B5;
    color: #FFF !important;
}

#messagesListWrapper > #messageslistsection  li.selected .messagelistboxwrapper .messagelistname {
    color: #FFF !important;
}
#messagesListWrapper > #messageslistsection  li.unread .messagelistboxwrapper .messagelistname {
    color: #FFF !important;
}

#messagesFullWrapper{
    max-height: 50%;
    overflow-y:auto;
    position: relative;
}

#messagesFullName{
    height: 30px;
    line-height: 30px;
    background: #6B85B5;
    color: #FFF;
    padding-left: 20px;
}

#messagesFullWrapper li{
    list-style: none;

}
#messagesFullWrapper li a{
    cursor:default;
}

.messagelisttext{
    max-height: 30px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 6px;
    padding-left: 26px;
}

i.message-list-icon{
    font-size: 16px;
    position: absolute;
    top: 22px;
    left: 2px;
}

.messageinputwrapper{
    padding: 10px 19px 35px;

    background-color: white;
    border: 1px solid rgb(185, 185, 185);
    border-top:none;
    border-radius: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.inputtexttextarea{
    width: 98%;
    height: 60px;
    resize:none;
}

.messageinputwrapper{
}



.badgeunread{
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#messagesListWrapper > #messageslistsection  li.unread .messagelistboxwrapper .badgeunread{
    display:block;
}


@media (max-width:767px){
    .messages-right{
        margin-top:10px;
    }
    #messagesFullWrapper{
        height:300px !important;
    }
}