a:hover, a:active, a:focus {
    cursor: pointer;
    outline: 0 none;
    text-decoration: none;
    color: #5a6573;
}

div.ui-chatbox.online > div.ui-chatbox-titlebar div.status-div{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 33px;
    background: #3CB54A;
    -webkit-box-shadow: 0 0 2px 1px #000 inset;
    -moz-box-shadow: 0 0 2px 1px #439699 inset;
    box-shadow: 0 0 2px 1px #399349 inset;
}
div.ui-chatbox.offline > div.ui-chatbox-titlebar div.status-div{
    position: absolute;
    top: 2px;
    left: 2px;
    width: 13px;
    height: 33px;
    background: #808284;
    -webkit-box-shadow: 0 0 2px 1px #434D59 inset;
    -moz-box-shadow: 0 0 2px 1px #808284 inset;
    box-shadow: 0 0 2px 1px #808284 inset;
}

div.ui-chatbox > div.ui-chatbox-titlebar > span{
    position: absolute;
    left: 22px;
}
.primary-sidebar .nav > li.active > a {
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #939ea4;
}

.primary-sidebar .nav > li:hover > a {
    color: #939ea4;
}

.sidebar-background {
    position: fixed;
    z-index: -1;
    width: 200px;
    background: #eaeaea;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #ccc;
}

.sidebar-background .primary-sidebar-background {
    width: 200px;
    background: #11161A;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.primary-sidebar {
    width: 200px;
    float: left;
    position: fixed;
}

.primary-sidebar .nav {
    margin-bottom: 20px;
}

.primary-sidebar .nav > li {
    position: relative;
    border-bottom: 1px solid transparent;
}


.primary-sidebar .nav > li a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    left: 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi�3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,transparent),color-stop(30%,rgba(10,13,14,0.8)),color-stop(50%,#0a0d0e),color-stop(70%,rgba(10,13,14,0.8)),color-stop(100%,transparent));
    background: -webkit-linear-gradient(left,transparent 0,rgba(10,13,14,0.8) 30%,#0a0d0e 50%,rgba(10,13,14,0.8) 70%,transparent 100%);
    background: -moz-linear-gradient(left,transparent 0,rgba(10,13,14,0.8) 30%,#0a0d0e 50%,rgba(10,13,14,0.8) 70%,transparent 100%);
    background: -o-linear-gradient(left,transparent 0,rgba(10,13,14,0.8) 30%,#0a0d0e 50%,rgba(10,13,14,0.8) 70%,transparent 100%);
    background: linear-gradient(left,transparent 0,rgba(10,13,14,0.8) 30%,#0a0d0e 50%,rgba(10,13,14,0.8) 70%,transparent 100%);
}


.primary-sidebar .nav > li a:before {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    left: 0;
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi�3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,transparent),color-stop(35%,rgba(32,41,47,0.8)),color-stop(50%,#20292f),color-stop(65%,rgba(32,41,47,0.8)),color-stop(100%,transparent));
    background: -webkit-linear-gradient(left,transparent 0,rgba(32,41,47,0.8) 35%,#20292f 50%,rgba(32,41,47,0.8) 65%,transparent 100%);
    background: -moz-linear-gradient(left,transparent 0,rgba(32,41,47,0.8) 35%,#20292f 50%,rgba(32,41,47,0.8) 65%,transparent 100%);
    background: -o-linear-gradient(left,transparent 0,rgba(32,41,47,0.8) 35%,#20292f 50%,rgba(32,41,47,0.8) 65%,transparent 100%);
    background: linear-gradient(left,transparent 0,rgba(32,41,47,0.8) 35%,#20292f 50%,rgba(32,41,47,0.8) 65%,transparent 100%);
}

.primary-sidebar .nav > li .glow {
    position: absolute;
    height: 36px;
    width: 5px;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    background: #1F2B42;
    -webkit-box-shadow: 0 0 2px 1px #434d59 inset;
    -moz-box-shadow: 0 0 2px 1px #434d59 inset;
    box-shadow: 0 0 2px 1px #434d59 inset;
}

.primary-sidebar .nav > li.active .glow {
    background: #4291A6;
    -webkit-box-shadow: 0 0 2px 1px #7bc8d7 inset;
    -moz-box-shadow: 0 0 2px 1px #7bc8d7 inset;
    box-shadow: 0 0 2px 1px #7bc8d7 inset;
}

.primary-sidebar .nav > li.active .glow:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
    left: 8px;
    -webkit-box-shadow: -10px 0 15px 23px rgba(122,171,216,0.15);
    -moz-box-shadow: -10px 0 15px 23px rgba(122,171,216,0.15);
    box-shadow: -10px 0 15px 23px rgba(122,171,216,0.15);
    background: rgba(124,190,215,0.2);
}

.primary-sidebar .nav > li:hover > span {
    background: #4291A6;
    -webkit-box-shadow: 0 0 2px 1px #7bc8d7 inset;
    -moz-box-shadow: 0 0 2px 1px #7bc8d7 inset;
    box-shadow: 0 0 2px 1px #7bc8d7 inset;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background: none;
}



ul, ol {
    padding: 0;
    margin: 0 0 10px 25px;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height .35s ease;
    -moz-transition: height .35s ease;
    -o-transition: height .35s ease;
    transition: height .35s ease;
}

.primary-sidebar .nav > li.active > a {
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #939ea4;
}

.primary-sidebar .nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #6B787F;
    margin-left:44px;
}

.nav > li > a {
    display: block;
}


.dark-nav > ul li a {
    text-shadow: none;
    text-align: left;
    font-size: 11px;
    padding: 6px 5px 6px 20px;
    border-top: 1px solid #20292f;
    border-bottom: 1px solid #0a0d0e;
    color: #bbb;
    display: block;
}

.dark-nav > ul {
    margin: 0;
    padding: 0;
    background: #11161A;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 4px 2px inset;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 0 4px 2px inset;
    box-shadow: rgba(0,0,0,0.3) 0 0 4px 2px inset;
}



.dark-nav > ul li a:hover {
    background: rgba(50,50,50,0.1);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi�3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(90,90,90,0.2)),color-stop(100%,rgba(50,50,50,0.1)));
    background-image: -webkit-linear-gradient(top,rgba(90,90,90,0.2) 0,rgba(50,50,50,0.1));
    background-image: -moz-linear-gradient(top,rgba(90,90,90,0.2) 0,rgba(50,50,50,0.1));
    background-image: -o-linear-gradient(top,rgba(90,90,90,0.2) 0,rgba(50,50,50,0.1));
    background-image: linear-gradient(top,rgba(90,90,90,0.2) 0,rgba(50,50,50,0.1));
    color: #fff;
}
.dark-nav > ul li.active a {
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    background: rgba(50,50,50,0.1);
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi�3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,rgba(90,90,90,0.2)),color-stop(100%,rgba(50,50,50,0.1)));
    background-image: -webkit-linear-gradient(top,rgba(90,90,90,0.2) 0,rgba(50,50,50,0.1));
    background-image: -moz-linear-gradient(top,rgba(90,90,90,0.2) 0,rgba(50,50,50,0.1));
    background-image: -o-linear-gradient(top,rgba(90,90,90,0.2) 0,rgba(50,50,50,0.1));
    background-image: linear-gradient(top,rgba(90,90,90,0.2) 0,rgba(50,50,50,0.1));
}


.chatnav{
    /* margin-bottom: 20px; */
    margin-left: 0;
    list-style: none;
    background-color: #58585B;
}

.primary-sidebar .chatnav > li.active > a {
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #939ea4;
}

.primary-sidebar .chatnav > li:hover > a {
    color: #003E5F;
}


.primary-sidebar .chatnav {
    margin-bottom: 0px;
}

.primary-sidebar .chatnav > li {
    position: relative;
    border-bottom: 1px solid transparent;
}

.primary-sidebar .chatnav > li.online {
    background: rgb(26, 27, 27);
}

.primary-sidebar > #chat-section-wrapper > ul.chatnav >  li.online.first-child {
    border-top: 2px solid #399341;
}
.primary-sidebar > #chat-section-wrapper >  ul.chatnav >  li.online.last-child {
    border-bottom: 2px solid #399341;
}

.primary-sidebar > #chat-section-wrapper > ul.chatnav > li.offline {
    background-color: #58585b;

}

.primary-sidebar > #chat-section-wrapper > ul.chatnav > li.offline.first-child {
    border-top: 2px solid #808284;
}
.primary-sidebar > #chat-section-wrapper > ul.chatnav > li.offline.last-child {
    border-bottom: 2px solid #808284;
}

.primary-sidebar > #chat-section-wrapper > ul.chatnav > li.online a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    left: 0;
    background:  #094B00;
    background-image: -ms-linear-gradient(top left, #7A7A7A 0%, #858585 100%);
    background-image: -ms-linear-gradient(top left, #00550E 0%, #094B00 100%);
    background: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,#363636),color-stop(30%,#00550E),color-stop(50%,#094B00 ),color-stop(70%,#094B00),color-stop(100%,#363636));
    background: -webkit-linear-gradient(left,#363636 0,#00550E 30%,#094B00 50%,#094B00  70%,#363636 100%);
    background: -moz-linear-gradient(left,#363636 0,#00550E) 30%,#094B00  50%,#094B00 70%,#363636 100%);
    background: -o-linear-gradient(left,#363636) 0,#00550E 30%,#094B00  50%,#094B00 70%,#363636 100%);
    background: linear-gradient(left,#363636 0,#00550E 30%,#094B00  50%,#094B00 70%,#363636 100%);
}
.primary-sidebar > #chat-section-wrapper > ul.chatnav > li.offline a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 100%;
    left: 0;
    background:  #858585;
    background: -webkit-gradient(linear,0% 50%,100% 50%,color-stop(0%,#505050),color-stop(30%,#7A7A7A),color-stop(50%,#858585),color-stop(70%,#858585),color-stop(100%,#616161));
    background: -webkit-linear-gradient(left,#505050 0,#7A7A7A 30%,#858585 50%,#858585 70%,#616161 100%);
    background: -moz-linear-gradient(left,#505050 0,#7A7A7A 30%,#858585 50%,#858585 70%,#616161 100%);
    background: -o-linear-gradient(left,#505050 0,#7A7A7A 30%,#858585 50%,#858585 70%,#616161 100%);
    background: linear-gradient(left,#505050 0,#7A7A7A 30%,#858585 50%,#858585 70%,#616161 100%);
}

.primary-sidebar > #chat-section-wrapper > ul.chatnav > li.online.last-child > a:after{
    height: 0px;
}

.primary-sidebar > #chat-section-wrapper > ul.chatnav > li.offline.last-child > a:after{
    height: 0px;
}


.primary-sidebar .chatnav > li a:before {
    content: "";
    position: absolute;
    top: 0;
    height: 0px;
    width: 100%;
    left: 0;
}

.primary-sidebar .chatnav > li .glow {
    position: absolute;
    height: 36px;
    width: 12px;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
    background: #808284;
    -webkit-box-shadow: 0 0 2px 1px #434d59 inset;
    -moz-box-shadow: 0 0 2px 1px #808284 inset;
    box-shadow: 0 0 2px 1px #808284 inset;
}

.primary-sidebar .chatnav > li.online .glow {
    background: #3cb54a;
    -webkit-box-shadow: 0 0 2px 1px rgb(0, 0, 0) inset;
    -moz-box-shadow: 0 0 2px 1px #439699 inset;
    box-shadow: 0 0 2px 1px #399349 inset;
}

.primary-sidebar .chatnav > li.active .glow {
    background: #4291A6;
    -webkit-box-shadow: 0 0 2px 1px #7bc8d7 inset;
    -moz-box-shadow: 0 0 2px 1px #7bc8d7 inset;
    box-shadow: 0 0 2px 1px #7bc8d7 inset;
}

.primary-sidebar .chatnav > li.active .glow:after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 20px;
    width: 0;
    height: 0;
    left: 8px;
    -webkit-box-shadow: -10px 0 15px 23px rgba(122,171,216,0.15);
    -moz-box-shadow: -10px 0 15px 23px rgba(122,171,216,0.15);
    box-shadow: -10px 0 15px 23px rgba(122,171,216,0.15);
    background: rgba(124,190,215,0.2);
}
.primary-sidebar > #chat-section-wrapper > ul.chatnav > li.offline:hover {
    background: #646568;;
}

.primary-sidebar .chatnav > li.online:hover {
    background: #313233;
}


.primary-sidebar .chatnav > li:hover > span {
}

.chatnav > li > a:hover, .chatnav > li > a:focus {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}



.primary-sidebar .chatnav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 25px;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    transition: color .3s;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #000000;
}

.primary-sidebar .chatnav > li.online > a {
    color: #FFFFFF;
}

.primary-sidebar .chatnav > li.offline > a {
    color: #939597;
    text-shadow: none;
}

.chatnav > li > a {
    display: block;
}

a.accordion-toggle > span > i.icon-caret-up{
    display:none;
}

a.accordion-toggle.collapsed > span > i.icon-caret-up{
    display:inline;
}

a.accordion-toggle.collapsed > span > i.icon-caret-down{
    display:none;
}

div.primary-sidebar > ul.nav > li.dark-nav.active > ul > li.active{
    background-color: #254B69;
}

.primary-sidebar{
    top:0px;
}

#chatwrapper{

    height: 224px !important;
    overflow-y:auto !important;


    overflow-x: hidden;

}

.user-search-box {
    background: #3A3A3C;

    height: 36px;
    border-top: 1px solid gray;
}

.friend-search-icon{
    margin-left: -187px;
    color: rgb(162, 162, 162);

}

.user-search-box input{
    width: 175px;
    margin-bottom: 4px;
    margin-left: 4px;
    padding-left: 11px;
    margin-top: 4px;
    border: none;
    background: rgb(58,58,60);
    box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    -o-transition: none;
    color: #a4a4a4;
}

@media (max-width: 979px){

    .sidebar-background {
        display: none;
    }
    .primary-sidebar .nav {
        margin: 0;
    }

    .primary-sidebar {
        position: static;
        width: auto;
        float: none;
        background: #11161A;
    }

}

@media (max-width: 979px) and (min-width: 768px){

    .hidden-tablet {
        display: none !important;
    }


}


@media (max-width: 767px){
    .hidden-phone {
        display: none !important;
    }
}

@media (min-width: 980px){
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
    }
    #chat-section-wrapper{
        position: absolute !important;
        left:0px !important;
        bottom: 0px !important;
        width:100%;

    }

    #users-toggler{
        position:absolute;
        bottom:261px;

        border-top: 1px solid rgb(42, 42, 43);
        background-color: rgb(25,25,25);
        color: rgb(134, 134, 134);
        text-align: center;

        cursor: pointer;

        line-height: 36px;

        font-weight: 500;
    }

    #chat-section-wrapper.hidechatusers{

        bottom: -261px !important;
        -webkit-transition-property: bottom;
        -webkit-transition-duration: 0.5s;
    }
    #chat-section-wrapper.showchatusers{

        bottom: 0px !important;
        -webkit-transition-property: bottom;
        -webkit-transition-duration: 0.5s;
    }

    #chatwrapper{
        width:100%;
        position: absolute !important;
        bottom: 37px;

        background-color: #58585B;
    }

    .primary-sidebar{
        height:100%;

        z-index: 1000;
    }

    .primary-sidebar-spacer{
        height:42px;
    }
}