div.bottom.popover > div.arrow:after{
    border-bottom-color: #F7F7F7;
}

.report-data-row.even{
    border: 1px solid #E2E2E2;
    background-color: #F6F7FA;
}

div.popover > div.popover-content > div.row-fluid > div > input, div.popover > div.popover-content > div.row-fluid > div > select{
    min-height: 20px;
}

div.popover-content > div.row-fluid > a.btn{
    min-height: 20px;
}

.primary-sidebar {
    height: 100%;
    z-index: 1000;
}

.primary-sidebar-spacer {
    height: 42px;
}

.navbar-inner {
    height: 41px !important;
}

.main-content {
    overflow-y: auto;
    top: 42px;
}

#chat-section-wrapper.showchatusers {
    bottom: 0px !important;
    -webkit-transition-property: bottom;
    -webkit-transition-duration: 0.5s;
}
#chat-section-wrapper {
    position: absolute !important;
    left: 0px !important;
    bottom: 0px !important;
    width: 100%;
}
.nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
}

#chatwrapper {
    width: 100%;
    position: absolute !important;
    bottom: 37px;
    background-color: #58585B;
}

#users-toggler {
    position: absolute;
    bottom: 261px;
    border-top: 1px solid #2A2A2B;
    background-color: #191919;
    color: #868686;
    text-align: center;
    cursor: pointer;
    line-height: 36px;
    font-weight: 500;
}

.top-messages-span {
    display: none;
}

.top-messages-icon {
    display: block;
    line-height: 10px !important;
}

#myaccountmobile li {
    display: none;
}



.popover[sort_plan_id] {
    width: 340px;
}

.popover[sort_plan_id=myaccount] {
    width: 190px;
}

.timeblock{
    border-top: none;
    border-left:1px solid #DDD;
    margin-left:0px;
    margin-top: 0px;
    width: 100% !important;
    height: 100% !important;
    writing-mode: bt-lr;
}

.gantblock{
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    margin-top: 0px;
    margin-left: 0px;
}

#ganttrows .ganttrow.lastchild{
    border-bottom:1px solid gray;
}

#chat-section-wrapper.hidechatusers {
    bottom: -261px !important;
}

#messagesListWrapper > #messageslistsection li.selected .messagelistboxwrapper i {
    color: #666 !important;
}