img.report_header-url{
    margin-left:40px;
}

.report-header-wrapper{
    margin-bottom: 10px;
}

.report-header-url-wrapper{

}

.report_header-url{


}

.report-header-right-wrapper{
    margin-top:20px;
}

.report-header-lineitem{

}

.report-header-lineitem:first-child{
    font-weight:bold;
}

.report-main-content{
    margin: 0px 4% 0px 4%;

    width: 92%;
}

.report-groupheading-wrapper{
    margin-top: 20px;

    margin-bottom: 10px;
}

.report-groupheading-row{

}

.report-groupheading-item{

}

.report-data-wrapper{
    margin-top: 20px;

}

.report-data-row{

}

.report-data-item{

}

.report-new-row{
    margin-left:0px;
}
